.card {
  color: red;
}

.card > p {
  color: green;
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 1px blue;
}

p:focus, p:active, p:hover {
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 1px blue;

  direction: rtl;
}

#test {
  color: initial;
  -webkit-text-fill-color: initial;
  -webkit-text-stroke: initial;

}

* {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
}

p {
  font-size: 26px;
}

span {
  font-size: xx-large;

  font-weight: lighter;
}